doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href=contents.css['main.css'].url)
  body(class=bodyclass)
    header.header
      div.container
        block header
            img(src="images/gps_icon05.png", class="pull-left logo")
            h1
              a(href=locals.url)= locals.name
            p.description= locals.description
            section.blurb!= "GPSLogger uses the GPS capabilities of your Android phone to log coordinates to GPS format files at regular intervals. This can be particularly useful if you want to geotag your photos after a day out or share your travel route with someone. The purpose of this application is to be battery efficient to save you battery power when abroad and last as long as possible."
            a.button= "Tour" 
            =" "
            a.button= "FAQ"
            =" "   
            a.button= "Screenshots" 
            =" "
            img(src="images/Paypal-Donate-Button-Image.png", class="pull-right", height="55px")
            
    div.container
      main
        block content
          h2 Welcome to zombocom!
    footer.container
      include footer.html
      section.copy
        p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; 
    //- footer
    //-   div.content-wrap
    //-     block footer
    //-       section.about
    //-         include footer.html
    //-       section.copy
    //-         p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
    //-           a(href='https://github.com/jnordberg/wintersmith') Wintersmith
    //-           //- please leave the "powered by" if you use the design
